@import '../layout/mixins.scss';

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin-top: 2em;
}


.formContainer {
    display: flex;
    justify-content: center;
    margin: 4em;
    padding: 2rem;
    border: dashed var(--primary-color) 3px;

    &__input {
        margin: 3rem;
        display: flex;
        flex-direction: column;
    }
}

input[type='text'],
input[type='password'],
input[type='email'] {
    width: 20rem;
    height: 2.5rem;
    border: none;
    border-bottom: solid 1px black;
}

input[type='submit'] {
    align-self: center;
    border: none;
    border-radius: 0.2rem;
    width: 6rem;
    height: 3rem;
    color: var(--font-color2);
    @include linearGradient(var(--mixing-color), var(--primary-color));
}
