@import '../layout/mixins.scss';

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formContainer {
    display: flex;
    justify-content: center;
    margin: 4em;
    padding: 2rem;
    background-color: rgba(147, 190, 232, 0.3);
    border: solid var(--primary-color) 3px;
    border-radius: 0.4rem;

    &__input {
        margin: 3rem;
        display: flex;
        flex-direction: column;
    }
}

input[type='text'],
input[type='password'],
input[type='email'] {
    width: 20rem;
    height: 2.5rem;
    border: none;
    border-bottom: solid 1px var(--primary-color);
    border-radius: 0.2rem;
}

input[type='submit'] {
    align-self: center;
    border: none;
    border-radius: 0.2rem;
    width: 6rem;
    height: 3rem;
    color: var(--font-color2);
    @include linearGradient(var(--mixing-color), var(--primary-color));
}

input[type='submit']:hover{
    @include linearGradient(var(--primary-color), var(--mixing-color));
    @include transition(all,2s,ease-out);
}