@import 'mixins.scss';

.container {
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 3.5rem;

    @include linearGradient(var(--secondary-color), var(--primary-color));

    &__logo-brand {
        margin: 1rem 0 0 3rem;
    }

    a:link,
    a:visited {
        color: var(--font-color2);
        text-decoration: none;
    }
    a:hover,
    a:active {
        border-bottom: solid #ffffff 2px;
        padding: 0 0 0.3rem 0 ;
    }
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 0 3rem 0 0;

    &__link {
        margin: 1rem 1rem 0 0;
    }
}

